
@media (max-width: 640px) {

  body{
  color:lightgray;
  background-color:#4A4848
}
hr{
  background-color:#855E5E
}
.container-fluid{
  text-align:center
}
.bd-placeholder-img {
        font-size: 1rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .jumbotron{
        background-color: #5A75E0;
      }
}
